# Domain name which is hosting the app. Used to locate the security certificate
# and to provide a reference to the app's http REST api
REACT_APP_DOMAIN=finalrendezvous.com

# Comma separated string of allowed CORS origins
REACT_APP_API_CORS_ORIGINS=https://finalrendezvous.com,https://finalrendezvous.co.uk

# Database connection information
REACT_APP_MONGO_DB_URL=mongodb://localhost:27017/
REACT_APP_MONGO_DB_USERNAME=mongodbuser
REACT_APP_MONGO_DB_PASSWORD=abcdef1234
REACT_APP_MONGO_DB_NAME=final-rendezvous-game

# Local and remote references to the same websockets server. Both the client and
# the HTTP server need to be able to talk to the websockets server, but the HTTP
# server may be able to do so locally.
REACT_APP_WEBSOCKET_SERVER_CLIENT_URL=ws://localhost
REACT_APP_WEBSOCKET_SERVER_HTTP_SERVER_URL=ws://localhost
REACT_APP_WEBSOCKET_SERVER_PORT=8080

# Namespace for prefixing things like localStorage keys
REACT_APP_PREFIX=final_rendezvous_game__

# Amount of time in days before a game expires. Games will be deleted from the
# database, and localStorage player associations will be deleted this much time
# after the game / playerId association has been created.
REACT_APP_GAME_EXPIRES_AFTER_DAYS=21
